*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}.navLinks{
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.navLinksCon{
    display: flex;
    gap: 1rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
body{
    background-color: pink;
}
.myTxt{
    border: 5px solid darkblue;
    font-size: 20px;

}
.myTxt::content{
    size: 20px;
}